body {
    background-image: url(../images/WhatsApp\ Image\ 2025-11-21\ at\ 17.38.28_afd822ef.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.button-next,
.button-prev {
    width: 400px;
    height: 300px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.3s;

}

.button-next a,
.button-prev a {
    text-decoration: none;
    font-size: 150px;

    color: black;
}

.button-next:hover,
.button-prev:hover {
    background-color: #ff8ec7;
    transform: scale(1.03);
    cursor: pointer;
   
}

.container-letter{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    max-width: 1500px;
    border: 4px solid pink;
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0 0 20px rgb(220, 101, 202);
}


.letter-image {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.letter-image p {
    font-size: 400px;
   margin: 0 100px;
    text-align: center;
}


.letter-name p {
    text-align: center;
    font-size: 200px;
    margin: 0;
}


#button {
    cursor: pointer;
    background-color: pink;
    font-size: 40px;
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    margin-top: 10px;
    height: 100px;
}

#button:hover {
    background-color: #ff8ec7;
    transform: scale(1.03);
}


@media (max-width: 768px) {

    .letter-image {
        flex-direction: column;
    }

    .letter-image p {
        font-size: 150px;
    }

    .letter-name p {
        font-size: 70px;
    }

    #button {
        font-size: 22px;
        padding: 18px;
    }
}

@media (max-width: 450px) {
    .letter-image p {
        font-size: 120px;
    }

    .letter-name p {
        font-size: 50px;
    }

    #button {
        font-size: 20px;
        padding: 15px;
    }
}

